h1,figure,p,body,ul,li {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/fondo-pagina.jpg');
    background-size: cover;
}
.container-fluid {
    width: 100%;
}

#navbar {
    width: 960px;
    background: white;
    font-size: 1.1em;
    font-family: "PT Sans Narrow";
    position: fixed;
    text-align: center;
    margin-top: -80px;
    z-index: 1000;
}

#navbar>ul {
    display: flex;
    justify-content: center;
}

#navbar li ul {
    display: block;
}

#navbar li {
    display: inline-flex;
    text-decoration: underline;
}

#navbar li a {
    text-align-last: none;
    text-decoration: none;
    color: black;
    padding: 20px;
    cursor: pointer;
}

#navbar>ul>li>a {
    transition: 0.3s;
    text-align: center;
}

#navbar>ul>li>a:hover {
    background-color: pink;
    /* subrayar o cambiar color de letra*/
}

#encabezado-mujerhoy {
    height: 100px;
    background: pink;
    margin-top: 80px;
    
}

.sombra {
    box-shadow: 3px 0px 6px darkgray;
}

.letter-mujerhoy {
    text-decoration: none;
    font-size: 4.3em;
    font-family: cursive;
    color: white;
    text-align: center;
    display: block;
}

.letter-mujerhoy abbr {
    cursor: inherit;
    border-bottom: 1px dotted darkgray;
}

#tip-importante {
    height: 500px;
    width: 960px;;
    background: white;
    margin: auto;
}

#busqueda {
    margin-left: 8.7%;
}
#busqueda button{
    padding: 8px;
    position: relative;
    background-color: pink;
    font-family: sans-serif;
    color: lightgoldenrodyellow;
}

.flexible {
    display: block;
    margin-top: 10px;
}

.titulo-tip {
    font-size: 1.5em;
    line-height: 0.9;
    font-variant: small-caps;
    justify-content: center;
    text-align-last: none;
    margin-left: 95px;
}

.anti-arrugas a {
    text-decoration: none;
    color: black;
    display: flex;
    font-family: sans-serif;
}
.arrugas{
    margin-left: 33%;
}
.intro-tip p {
    text-align: center;
    display: block;
    /*font-size:  1.1em;*/
    margin: 10px 0;
    font-family: sans-serif;
}

.cuerpo-tip {
    text-align: center;
}

#tips-secundarios {
    min-height:400px;
    display: block;  
}

.imagen-tips-secundarios {
    position: relative;
    text-align: center;
    margin-top: 10px;
}
.imagen{
   border: 7px solid white; 
}



.elige-estilo {
    background-color: cornsilk;
    font-family: "PT Sans Narrow";
    position: absolute;
    top: 30px;
    right: -20px;
    padding: 1.5px;
    
}
#anuncios {
    width:560px;
    height: 400px;
    float: right;
    background: white;
}

.como-vestirte {
    font-family: sans-serif;
    color: brown;
    text-align: justify;
    margin-left: 20px;
}
#anuncios p {
    font-family: sans-serif;
    font-size: 1.2em;
}
#horoscopos {
    width: 400px;
    height: 399px;
    background: white;
  display: inline-block;
}

#horoscopos a {
     margin-left: 18px;
}

#pie {
    width: 960px;
    margin: auto;
    height: 100px;
    margin-top: 10px;
    background: white;
    background-image: url('/images/logo-de-moda.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-style: dotted;
}
.logo-moda::before,.logo-moda::after{
    content:"";
    border-top: 4px double lightgray;
    display: block;
    position: relative;
    height: 2px;
    width: 960px;
}


#redes-sociales {
    text-align: center;
}

.facebook,
.twitter {
    width: 33px;
    height: 33px;
    display: block;
    text-indent: -9999px;
}

.facebook {
    background: url('../images/facebook_twitter.png')0 0;
}

.twitter {
    background: url('../images/facebook_twitter.png') -43px 0;
}

.facebook:hover {
    background: url('../images/facebook_twitter.png') 0 -43px;
}

.twitter:hover {
    background: url('../images/facebook_twitter.png') -43px -43px;
}

.p-mujer {
    display: inline-block;
    position: absolute;
    color: deeppink;
}
.container {
    width: 960px;
    margin: auto;
}
#contenedor{
    display: table;
    margin: auto;
    height: 400px;
}
#contenido{
    display: table-row;
    
}

.anuncios-hoy,.horoscopos-hoy{
    display: table-cell;
    margin: auto;
    
}